@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
	--bright-blue: hsl(220, 98%, 61%);

	/* for light theme */
	--v-l-gray: hsl(0, 0%, 98%);
	--v-l-g-blue: hsl(236, 33%, 92%);
	--l-g-blue: hsl(233, 11%, 84%);
	--d-g-blue: hsl(236, 9%, 61%);
	--v-d-g-blue: hsl(235, 19%, 35%);

	/* for dark theme */
	--v-d-blue: hsl(235, 21%, 11%);
	--v-d-desaturated-blue: hsl(235, 24%, 19%);
	--l-g-blue-D: hsl(234, 39%, 85%);
	--l-g-blue-hover-D: hsl(236, 33%, 92%);
	--d-g-blue-D: hsl(234, 11%, 52%);
	--v-d-g-blue-D: hsl(233, 14%, 35%);
	--v-d-g-blue-2-D: hsl(237, 14%, 26%);

	/* usage variables */
	--check-background: linear-gradient(
		120deg,
		hsl(192, 100%, 67%),
		hsl(280, 87%, 65%)
	);
	--bg-color: var(--l-g-blue);
	--heading-color: var(--v-l-gray);
	--text-color: var(--v-d-g-blue);
	--todo-background: var(--v-l-g-blue);
	--selected-filter-color: var(--bright-blue);
	--secondary-text-color: var(--d-g-blue);

	--background-image: url("./images/bg-mobile-light.jpg");
	--mode-icon: url("./images/icon-moon.svg");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body.dark {
	--bg-color: var(--v-d-blue);
	/* --heading-color:var(--l-g-blue-D); */
	--text-color: var(--l-g-blue-D);
	--todo-background: var(--v-d-desaturated-blue);
	--secondary-text-color: var(--v-d-g-blue-D);

	--background-image: url("./images/bg-mobile-dark.jpg");
	--mode-icon: url("./images/icon-sun.svg");
}

body {
	width: 100vw;
	height: 100vh;
	background-color: var(--bg-color);
	background-image: var(--background-image);
	background-repeat: no-repeat;
	background-size: 100%;
	display: flex;
	flex-direction: column;
    align-items: center;
    
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;

	transition: background-color 0.25s ease-in-out,
		background-image 0.25s ease-in-out;
}

.todo-container {
	/* background-color: var(--todo-background); */
	width: clamp(300px, 90%, 500px);
	height: 100%;
}

.todo-header {
	color: var(--heading-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 10%;
}

.todo-header h2 {
	text-transform: uppercase;
	letter-spacing: 10px;
	font-size: 1.8rem;
}

.todo-mode {
	width: 26px;
	height: 26px;
    background: var(--mode-icon) no-repeat;
    transition: background-image 0.3s ease-in-out;
}

.todo-items-container {
	border-radius: 5px;
}

.todo-items-container > .todo-box:first-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}


.todo-box {
    background-color: var(--todo-background);
    width: 100%;
    padding: 0 0 0 15px;
	position: relative;
	display: flex;
	color: var(--text-color);
	align-items: center;

	transition: background-color 0.25s ease-in-out;
}

.todo-add {
	margin: 10% 0 5% 0;
	border-radius: 5px;
}
.todo-add input {
	order: 1;
	background-color: transparent;
	border-style: none;
	outline: none;
	color: var(--text-color);
	padding: 15px 15px;
	width: 100%;
	line-height: 1.5rem;
}

.checkbox {
	/* position: absolute; */
	order: 0;
	width: 20px;
	height: 20px;
	/* background-image: url("./images/icon-check.svg"), var(--check-background); */
	/* background-repeat: no-repeat; */
	border: 1px solid var(--secondary-text-color);
	background-position: 50%;
	border-radius: 100%;
	border: 1px solid var();
	left: 5%;
}

.todo-item {
	border-bottom: 1px solid var(--secondary-text-color);
}

.todo-item:hover {
	background-color: var(--v-d-g-blue-2-D);
}

.todo-item input {
	order: 0;
	width: 0;
	height: 0;
}
.todo-item label {
	order: 1;
	padding: 18px 15px;
	font-size: 0.9rem;
	color: var(--text-color);
	width: 100%;
	transition: all 0.25s ease-in-out;
	cursor: pointer;
}

.todo-item .checkmark {
	order: 0;
	width: 20px;
	height: 20px;
	border: 1px solid var(--secondary-text-color);
	border-radius: 50%;
}

.todo-item input:checked ~ .checkmark {
	background-image: url("./images/icon-check.svg"), var(--check-background);
	background-repeat: no-repeat;
	background-position: 50%;
}

.todo-item input:checked ~ label {
	text-decoration: line-through;
	color: var(--secondary-text-color);
}

.todo-item img {
	order: 2;
	padding: 15px;
	cursor: pointer;
}

.options-container {
	display: flex;
	justify-content: space-between;
	font-size: 0.8rem;
	color: var(--secondary-text-color);
	padding: 18px;
	border-radius: 0 0 5px 5px;
}

.filter {
	border-radius: 5px;
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--todo-background);
	padding: 0 18px;
}

.filter p {
	padding: 18px 10px;
	color: var(--secondary-text-color);
	font-size: 1rem;
	font-weight: 700;
	cursor: pointer;
}

.filter p.active {
	color: var(--bright-blue);
}

.dnd {
	position: fixed;
	bottom: 15%;
	width: 95%;
	text-align: center;
	color: var(--secondary-text-color);
	font-size: 1rem;
}